@import 'dracula.css';


#showPreviewPane{
	-fx-background-color :   -color-accent-7;
}

#startProcessPane{
	-fx-background-color :   -color-accent-8;
}


#showPreviewPane:hover {
	-fx-background-color :  -color-accent-4;
}

#startProcessPane:hover {
	-fx-background-color : -color-accent-4;
}

.image-view-wrapper {
    -fx-border-color:-color-accent-9;
    -fx-border-style: solid;
    -fx-border-width: 1;
}